<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <h3> This page requires admin credentials!</h3>
                <div class="col-md-10">
                    <div class="row">
                    <form th:action="@{/login}" method="post">
                        <div><label class="col-form-label"> User Name <input type="text" name="username" class="form-control" id="username" placeholder="Username"/> </label></div>
                        <div><label class="col-form-label"> Password <input type="password" name="password" class="form-control" id="password" placeholder="Password"/> </label></div>
                        <div><input type="submit" value="Log In" class="btn btn-primary"/></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
